@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #F5F5F5;
  --color-primary: #D60000;
  --color-secondary: #7A0000;
  --color-muted: #A1A1AA;
  
  --font-bebas: var(--font-bebas), sans-serif;
  --font-jetbrains: var(--font-jetbrains), monospace;
  --font-space: var(--font-space), monospace;

  --font-sans: var(--font-jetbrains), monospace;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
